@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#content {
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    text-align: left;
    max-width: 800px;
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow: hidden;
}

h1 {
    font-weight: 250;
}

h3 {
    font-weight: 100;
}

nav {
    /*width: 100%;*/
    border-bottom: 1px solid #AAA;
}

a {
    color: #038CFC;
    text-decoration: none;
}

a:link {
}

a:visited {
}

a:hover {
    color: #026abf;
}

a:active {
    color: black;
}

a.navbar {
    color: rgb(141, 141, 141);
    text-decoration: none;
}

a.navbar:hover {
    color: #333;
}

.infoblock {
    /*max-width: 600px;*/
    margin: 2em auto;
    /*display: table-cell;
    vertical-align: middle;*/
}

.infoblock::after {
    content: "";
    display: block;
    clear: both;
}

.headshot {
    float: left;
    height: 12em;
    border-radius: 3px;
    margin: 0 3em 0 3em;
}

.contact-info {
    /*display: inline-block;*/
    margin: 1em 1em 1em 3em;
}

.navbar {
    list-style-type: none;
    padding: 0 0 0 0;
    font-family: sans-serif;
    /*width: 100%;*/
}

.navbar::after {
    content: "";
    display: block;
    clear: both;
}

.navitem {
    float: left;
    display: block;
    margin: 0 1em 0 0;
    padding: 0 0 0 0;
}

.modeswitch {
    float: right;
    display: block;
    margin: 0 1em 0 0;
    padding: 0 0 0 0;
}

.imhere a {
    color: #1d81cd;
}

.cvlist {
    list-style-type: none;
    padding: 0 1em 0 1em;
}

.cvitem {
    margin: 0 0 1em 0;
}

.cvitem-title {
    font-weight: bold;
    margin: 0 0 3px 0;
}

.authorlist {
    margin: 0 0 3px 0;
}

.venue {
    font-style: italic;
    margin: 0 0 3px 0;
}

.links {
}

.me {
    /* font-weight: 600; */
    color: #dc4040;
    font-style: italic;
}

.display-table {
    display: table;
    width: 100%;
}

.display-tablecell {
    display: table-cell;
}

.ljust {
    text-align: left;
}

.rjust {
    text-align: right;
}

footer {
    position: center;
    text-align: center;
    font-style: italic;
    font-size: 0.75em;
    color: #666666;
}

/* For Research Presentation*/

#platter > .image {
    border: 2px solid #000000;
    width: 50vmin;
    height: 66vmin;
    object-fit: cover;
    object-position: center;
}

#platter {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-15%, -50%);
}

#animrem{
    position: absolute;
    font-style: italic;
    font-size: small;
    bottom: 5%;

}

body:hover> #mouseshadow
{
    opacity: 1;
}



#mouseshadow{
    height: 20px;
    width: 20px;
    background-color: deepskyblue;
    border-radius: 20px;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;

    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;

    display: grid;
    place-items: center;
}

#mouseshadow:not([data-type=""]) > #mouseshadow-icon {
    opacity: 1;
}

#mouseshadow:is([data-type="remanime"]) > #mouseshadow-icon {
    opacity: 1;
    font-size: 150%;
    color: red;
}



#mouseshadow-icon {
    font-size: 7px;
    line-height: 5px;
    color: white;
    opacity: 0;
    transition: opacity 400ms ease;
}


.image {
    opacity: 0.5;
    transition: background-size 400ms ease, opacity 400ms ease;
}

.image:hover {
    background-size: 105%;
    opacity: 1;
}